.indented {
    margin-left: 15px;
    display: block;
}

#treepanel {
    font-family: monospace;
    overflow: scroll;
}

.choicebutton {
    padding: 0;
}

#pathview {
    font-size: large;
}

.instruction-top {
    font-weight: bold;
}

video {
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

#methodpanel {
    padding: 0;
}

.methodtabcontent {
    margin-top: 25px;
    text-align: center;
    overflow: scroll;
}

#textmethodcontent {
    font-weight: bold;
    font-size: 20px;
}